<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FileWatcherPath" value="D:\Apps\WeatherStation\AcuRite Weather Station"/>
    <add key="WeatherDetailsArchivePath" value="D:\Apps\WeatherStation\Archive\"/>
  </appSettings>
</configuration>